<section>
  <label for="categorySel">Select Category</label>
  <select id="categorySel"
    ng-disabled="isDisabled"
    ng-model="selectedCategory"
    ng-options="category as category.name for category in categories" ng-change="filterSurvey(selectedCategory)"></select>
  <article ng-repeat="r in reviews.slice().reverse()">
    <header class="row col-md-8">
      <h1>{{r.date | date}} | {{r.category}}</h1>
      <h1 class="col-md-4">{{r.rating}}&#9733; {{r.reviewer.email}}</h1>
    </header>
    <div ng-repeat="review in r.survey">
        <div>Question: {{review.question}}</div>
        <div>Answer: {{review.answer}}</div>
    </div>
  </article>
</section>
